@import url("http://fonts.cdnfonts.com/css/product-sans");

nav ul {
  display: flex;
  justify-content: space-evenly;
}

#leftSide {
  display: flex;
}

#rightSide {
  display: flex;
  justify-content: space-between;
}

.googleTitleContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.googleTitleContainer h1 {
  font-size: 100px;
  display: flex;
}

/* CSS selecting each letter by class and giving them a color */
.red {
  color: #e44435;
}
.blue {
  color: #4885f8;
}
.green {
  color: #3caa4d;
}
.yellow {
  color: #fabc05;
}

/* search bar styling group */
.searchBarContainer {
  display: flex;
  justify-content: center;
}

#searchBar {
  padding: 5px 200px 5px 50px;
  border-radius: 10px;
  border-color: lightgray;
  border-style: groove;
}

/* button container styling */
.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#search {
  margin-right: 5px;
}

#lucky {
  margin-left: 10px;
}

/* footer styling */
.footerContainer {
  background-color: lightgray;
  position: fixed;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(238, 231, 231);
  width: 100%;
  color: rgb(97, 94, 94);
}

footer ul {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(97, 94, 94);
}

.hover:hover {
  box-shadow: 10px;
}
