@import url("http://fonts.cdnfonts.com/css/product-sans");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: #000;
}

.navbar {
  padding: 20px;
}
.navbar,
ul {
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 0 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  float: left;
}

li a {
  padding: 8px;
}

.googleTitleContainer {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.googleTitleContainer h1 {
  font-size: 90px;
  display: flex;
}

/* CSS selecting each letter by class and giving them a color */
.red {
  color: #e44435;
}
.blue {
  color: #4885f8;
}
.green {
  color: #3caa4d;
}
.yellow {
  color: #fabc05;
}

/* search bar styling group */
.searchBarContainer {
  display: flex;
  justify-content: center;
}

#searchBar {
  padding: 5px 250px 5px 50px;
  border-radius: 20px;
  border-color: none;
  height: 40px;
}

/* button container styling */
.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#search {
  margin-right: 5px;
}

.search-icon {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 440px;
}

.mic-icon {
  position: relative;
  float: right;
  width: 35px;
  top: -38px;
  right: -10px;
}

#lucky {
  margin-left: 10px;
}

/* footer styling */
.footerContainer {
  background-color: lightgray;
  position: fixed;
  width: 100%;
}

footer {
  font-family: arial, sans-serif;
  position: fixed;
  font-size: small;
  bottom: 10px;
  background-color: rgb(238, 231, 231);
  width: 100%;
  color: rgb(97, 94, 94);
  bottom: 0px;
  height: 80px;
  border-top: px solid #e4e4e4;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(97, 94, 94);
}
